Repository rh-api-management/rh-3scale: changes, and which Tekton pipelines are due for each by the changed paths.
All: apicast-operator-bundle-on-pull-request, apicast-operator-bundle-on-push, threescale-operator-bundle-on-pull-request, threescale-operator-on-push

apicast-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/3scale-prod-tenant/apicast-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

apicast-operator-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/3scale-prod-tenant/apicast-operator-bundle:on-pr-{{revision}}
  - name: dockerfile
    value: /rh-apicast-operator/Containerfile.apicast-operator-bundle
  ...

threescale-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/3scale-prod-tenant/threescale-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

threescale-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/3scale-prod-tenant/threescale-operator:{{revision}}
  - name: dockerfile
    value: rh-3scale-operator/Containerfile.3scale-operator
  ...

fix pipelines triggers and remove json sbom task due to deprecation
  .tekton/apicast-operator-bundle-pull-request.yaml
  .tekton/apicast-operator-bundle-push.yaml
  .tekton/apicast-operator-pull-request.yaml
  .tekton/apicast-operator-push.yaml
  .tekton/single-arch-build-pipeline.yaml
  .tekton/threescale-operator-bundle-pull-request.yaml
  .tekton/threescale-operator-bundle-push.yaml
  .tekton/threescale-operator-pull-request.yaml
  .tekton/threescale-operator-push.yaml
Due: apicast-operator-bundle-on-pull-request, apicast-operator-bundle-on-push, threescale-operator-bundle-on-pull-request, threescale-operator-on-push

add source build, rpms scan, labels as per violations list
  .tekton/apicast-operator-bundle-pull-request.yaml
  .tekton/apicast-operator-bundle-push.yaml
  .tekton/apicast-operator-pull-request.yaml
  .tekton/apicast-operator-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/threescale-operator-bundle-pull-request.yaml
  .tekton/threescale-operator-bundle-push.yaml
  .tekton/threescale-operator-pull-request.yaml
  .tekton/threescale-operator-push.yaml
  rh-3scale-operator/Containerfile.3scale-operator
  rh-3scale-operator/Containerfile.3scale-operator-bundle
  rh-apicast-operator/Containerfile.apicast-operator
  rh-apicast-operator/Containerfile.apicast-operator-bundle
Due: apicast-operator-bundle-on-pull-request, apicast-operator-bundle-on-push, threescale-operator-bundle-on-pull-request, threescale-operator-on-push

Update rpms.lock.yaml for searchd
  rh-searchd/redhat.repo
  rh-searchd/rpms.in.yaml
  rh-searchd/rpms.lock.yaml
Due: none

add arm64 support
  .tekton/apicast-operator-pull-request.yaml
  .tekton/apicast-operator-push.yaml
Due: none

move apicast to multiarch pipeline, edit build platforms and try hermetic builds
  .tekton/apicast-gateway-pull-request.yaml
  .tekton/apicast-gateway-push.yaml
Due: none

extend renovate config to update the rpms lock files
  rh-3scale-operator/renovate.json
  rh-apicast-operator/renovate.json
  rh-apisonator/renovate.json
  rh-porta/renovate.json
  rh-searchd/renovate.json
  rh-zync/renovate.json
Due: none

remove hermetic
  .tekton/apicast-gateway-pull-request.yaml
  .tekton/apicast-gateway-push.yaml
Due: none

[apicast] migrate Containerfile from upstream repo
  rh-apicast/Containerfile
Due: none

[apicast] generate rpms lock file
  rh-apicast/rpms.in.yaml
  rh-apicast/rpms.lock.yaml
  rh-apicast/ubi.repo
Due: none

[apicast] add renovate
  rh-apicast/renovate.json
Due: none

[apicast] enable hermetic build
  .tekton/apicast-gateway-pull-request.yaml
  .tekton/apicast-gateway-push.yaml
Due: none

Disbale multiarch build
  .tekton/apicast-gateway-pull-request.yaml
Due: none

[apicast] prevent build from using rhel8 repo
  .tekton/apicast-gateway-pull-request.yaml
Due: none

[apicast] regenerate rpms lock file with correct base image
  rh-apicast/rpms.lock.yaml
Due: none

[apicast] enables multi-arch build
  .tekton/apicast-gateway-pull-request.yaml
Due: none

Rename multi-arch pipeline
  .tekton/multi-arch-build-pipeline.yaml
Due: threescale-operator-on-push

[multi-arch-pipeline] Allow setting prefetch-dev-package-manager
  .tekton/multi-arch-build-pipeline.yaml
Due: threescale-operator-on-push

[apicast] Refactor to use pipelineRef
  .tekton/apicast-gateway-pull-request.yaml
Due: none

Refactor pipeline reference name
  .tekton/apicast-gateway-push.yaml
  .tekton/apicast-operator-pull-request.yaml
  .tekton/apicast-operator-push.yaml
  .tekton/threescale-operator-pull-request.yaml
  .tekton/threescale-operator-push.yaml
Due: threescale-operator-on-push

[pipeline] rename multi-arch pipeline
  .tekton/apicast-gateway-pull-request.yaml
  .tekton/apicast-gateway-push.yaml
  .tekton/apicast-operator-pull-request.yaml
  .tekton/apicast-operator-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/threescale-operator-pull-request.yaml
  .tekton/threescale-operator-push.yaml
Due: threescale-operator-on-push

[pipeline] add prefetch-dev-package-managers-enabled param
  .tekton/multi-arch-build-pipeline.yaml
Due: threescale-operator-on-push

[apicast] enables hermatic build
  .tekton/apicast-gateway-pull-request.yaml
  .tekton/apicast-gateway-push.yaml
  rh-apicast/renovate.json
  rh-apicast/rpms.in.yaml
  rh-apicast/rpms.lock.yaml
  rh-apicast/ubi.repo
Due: none

[porta] Set assets:precompile RAILS_ENV explicitly
  rh-porta/Containerfile
Due: none

Trying something
  rh-porta/Containerfile
Due: none

Konflux build pipeline service account migration for apicast-gateway Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/apicast-gateway-pull-request.yaml
  .tekton/apicast-gateway-push.yaml
Due: none

Konflux build pipeline service account migration for apicast-operator Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/apicast-operator-pull-request.yaml
  .tekton/apicast-operator-push.yaml
Due: none

Konflux build pipeline service account migration for apicast-operator-bundle Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/apicast-operator-bundle-pull-request.yaml
  .tekton/apicast-operator-bundle-push.yaml
Due: apicast-operator-bundle-on-pull-request, apicast-operator-bundle-on-push

Konflux build pipeline service account migration for threescale-operator-bundle Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/threescale-operator-bundle-pull-request.yaml
  .tekton/threescale-operator-bundle-push.yaml
Due: threescale-operator-bundle-on-pull-request

Konflux build pipeline service account migration for apisonator Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/apisonator-pull-request.yaml
  .tekton/apisonator-push.yaml
Due: none

Konflux build pipeline service account migration for porta Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/porta-pull-request.yaml
  .tekton/porta-push.yaml
Due: none

Konflux build pipeline service account migration for searchd Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/searchd-pull-request.yaml
  .tekton/searchd-push.yaml
Due: none

Konflux build pipeline service account migration for threescale-operator Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/threescale-operator-pull-request.yaml
  .tekton/threescale-operator-push.yaml
Due: threescale-operator-on-push

Konflux build pipeline service account migration for toolbox Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/toolbox-pull-request.yaml
  .tekton/toolbox-push.yaml
Due: none

Konflux build pipeline service account migration for zync Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/zync-pull-request.yaml
  .tekton/zync-push.yaml
Due: none

Red Hat Konflux purge apicast-gateway
  .tekton/apicast-gateway-pull-request.yaml
  .tekton/apicast-gateway-push.yaml
Due: none

Red Hat Konflux purge apicast-operator
  .tekton/apicast-operator-pull-request.yaml
  .tekton/apicast-operator-push.yaml
Due: none

Red Hat Konflux purge apicast-operator-bundle
  .tekton/apicast-operator-bundle-pull-request.yaml
  .tekton/apicast-operator-bundle-push.yaml
Due: apicast-operator-bundle-on-pull-request, apicast-operator-bundle-on-push

Red Hat Konflux purge apisonator
  .tekton/apisonator-pull-request.yaml
  .tekton/apisonator-push.yaml
Due: none

Red Hat Konflux purge porta
  .tekton/porta-pull-request.yaml
  .tekton/porta-push.yaml
Due: none

Red Hat Konflux purge searchd
  .tekton/searchd-pull-request.yaml
  .tekton/searchd-push.yaml
Due: none

Path conditions:
  apicast-operator-bundle-on-pull-request: (((((((any of: .tekton/apicast-operator-bundle-pull-request.yaml) or (any of: .tekton/apicast-operator-bundle-push.yaml)) or (any of: rh-apicast-operator/Containerfile.apicast-operator-bundle)) or (any of: rh-apicast-operator/apicast-operator)) or (any of: rpms.in.yaml)) or (any of: rpms.lock.yaml)) or (any of: pyproject.toml)) or (any of: rh-apicast-operator/bundle-hack/***)
  apicast-operator-bundle-on-push: (((((((any of: .tekton/apicast-operator-bundle-push.yaml) or (any of: .tekton/single-arch-build-pipeline.yaml)) or (any of: rh-apicast-operator/Containerfile.apicast-operator-bundle)) or (any of: rh-apicast-operator/apicast-operator)) or (any of: rh-apicast-operator/rpms.in.yaml)) or (any of: rh-apicast-operator/rpms.lock.yaml)) or (any of: rh-apicast-operator/pyproject.toml)) or (any of: rh-apicast-operator/bundle-hack/***)
  threescale-operator-bundle-on-pull-request: ((((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/threescale-operator-bundle-pull-request.yaml)) or (any of: .tekton/threescale-operator-bundle-push.yaml)) or (any of: rh-3scale-operator/Containerfile.3scale-operator-bundle)) or (any of: rh-3scale-operator/3scale-operator)) or (any of: rh-3scale-operator/rpms.in.yaml)) or (any of: rh-3scale-operator/rpms.lock.yaml)) or (any of: rh-3scale-operator/pyproject.toml)) or (any of: rh-3scale-operator/bundle-hack/***)
  threescale-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/threescale-operator-pull-request.yaml)) or (any of: .tekton/threescale-operator-push.yaml)) or (any of: Containerfile.3scale-operator)) or (any of: 3scale-operator)
